#container {
    width: 1100px;
    margin: 0px auto;
}


.logo {
    border-radius: 50%;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}

.toplogo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    float: right;
}

html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    opacity: 1;
    background-color:#75cfa2;
    padding: 20px;
    height: 4.5vh;
    text-align: left, justify;
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2a2a;
}

dl {
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    letter-spacing: 3px;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #111;
}

#contenido {
    float:left;
    width: 100%;
    background:  #75cfa2;
    min-height: calc(90vh - 90px);
}

.contenttext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: justify;
    letter-spacing: 3px;
    text-indent: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

.titulo {
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.tituloingre {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.listadiv {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #2b2a2a;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    width: 98%;
    clear: both;
}
